<h2>Edit item</h2>

<%= render "form.html", changeset: @changeset,
                        kinds: @kinds,
                        action: standup_item_path(@conn, :update, @standup.id, @item) %>

<%= link "Back", to: standup_item_path(@conn, :index, @standup.id) %>
