<h2>New item - <%= @standup %></h2>

<%= render "form.html", changeset: @changeset,
                        standup: @standup,
                        kinds: @kinds,
                        action: standup_item_path(@conn, :create, @standup.id) %>

<%= link "Back", to: standup_item_path(@conn, :index, @standup.id) %>
